body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #545647;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  color: #ffffff;

  align-items: stretch;
}

main {
  margin-top: 60px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h1 {
  color: #a6a9ac;
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

/* Container for SVG */
.svg-container {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  background: rgba(255, 222, 89, 0.1);
  padding: 10px;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  overflow-x: auto;
}

/* Sitemap SVG */
svg {
  width: 100%;
  max-width: 1100px;
  height: auto;
  display: block;
}

/* Node Styles */
.node, .child-node {
  fill: #d7c898;
  rx: 10;
  ry: 10;
  transition: fill 0.3s ease;
}

.node:hover:not(.no-hover),
.child-node:hover {
  fill: #ad8b06;
  cursor: pointer;
}

/* Hover effects */
.node-group:hover text {
  fill: #ffffff;
  color: black;
}

.node-group .node.no-hover:hover,
.node-group .node.no-hover + text:hover {
  fill: #333333;
  cursor: default;
}

.node-group .node.no-hover + text {
  fill: #000000;
}

/* Text inside nodes */
text {
  fill: #000000;
  font-size: 14px;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  user-select: none;
}

/* Connector lines */
line {
  stroke: #ffde59;
  stroke-width: 2;
}

/* Bottom image */
.bottom-left-image-inside {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 10;
}

/* Responsive text and headings */
@media (max-width: 1024px) {
  svg {
    max-width: 100%;
  }

  .svg-container {
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  text {
    font-size: 12px;
  }
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  text {
    font-size: 10px;
  }
  h1 {
    font-size: 22px;
  }
}
